* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
img,
button,
input {
    margin: 0;
    padding: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.cover, .lots, .about, .footer {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Чтобы на маленьких экранах занимала всё место */
    box-sizing: border-box;
}